@keyframes open-time{
    from{
        letter-spacing: -10px;
    }
    50%{
        letter-spacing: 5px;
    }
    to{
        letter-spacing: 0px;
    }
}

@keyframes open-clouds{
    from{
    width: 0%;
    opacity: 0;
    filter: blur(5px);
    }
    to{
    filter: blur(0px);
    width: 67%;
    opacity: 0.5;
    }
}
@keyframes open-star{
    from,to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

@keyframes open-new-tr{
    from{
    transform: translate(-10px,0px);
    }
    50%{
    transform: translate(10px,0px);
    }
    to{
    transform: translate(0px,0px);
    }
}

@keyframes open-ic-av{
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}

@keyframes open-search-inn{
    from{
        width: 200px;
    }
    50%{
        width: 420px;
    }
    to{
        width: 400px;
    }
}
@keyframes  infinite-event  {
    from,to{
        scale: 0.7;
    }
    50%{
        scale: 1;
    }
}
@keyframes open-close-pref {
    from{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
@keyframes open-dv-full-preff-bfrr {
    from{
        backdrop-filter: blur(0px) brightness(1);
    }
    to{
        backdrop-filter: blur(5px) brightness(0.8);
    }
}
@keyframes  open-dv-full-preff {
    from{
        gap: 7px;
        }
    to{
         gap: 0px;

    }
}
@keyframes  open-bg-main{
    from{
        transform: scale(1.3);
    }
    to{
        transform: scale(1);
    }
}
@keyframes  open-tab-sca-deff{
    from{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
