[tromoSM=fill-info]{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
        opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
    background: linear-gradient(0deg,#030000d1,#0000);
    font-size: smaller;
}
[tromoSM=weather-w]:hover [tromoSM=fill-info]{
    opacity: 1;
    transform: translateY(0px);
}
[tromoSM="ui-main-w"]{
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
}
[top='0']{
    margin-top: 100px !important;
}
[tromoSM=wrap]{
    display: flex;
    margin:0px  0px  20px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
[tromoSM=wrap-all]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
[tromoSM=background-main]{
    width: 100vw;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
    position: fixed;
    top: 0;
}
[tromoSM=background-top]{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    top: 0;
}
[tromoSM=fill-time]{
    font-family: SF Pro;
    font-weight: 700;
    padding: 0;
    color: var(--element-display-text);
    font-size: 110px;
    width: fit-content;
    text-shadow: 0px 0px 20px var(--element-display-text-shadow);
}
[tromoSM=weather-w]{
    background-color: var(--element-1-background-color);
    width: 250px;
    height: 100px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    color: var(--element-1-color);
    align-items: center;
    overflow: hidden;
    border-radius: var(--element-1-border-radius);
    backdrop-filter: blur(var(--element-1-backdrop-blur));
}
[tromoSM=clouds-a]{
    height: 150px;
    object-position: top left;
    object-fit: cover;
    position: absolute;
    right: 0;
    animation:  open-clouds 1s ease 1 forwards;
}
[tromoSM="location-ic"]{
    width: 7px;
    filter: brightness(100);
}
[tromoSM="fill-location"]{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    gap: 2px;
    font-size: 7px;
    display: flex;
    align-items: center;
}
@keyframes open-clouds{
    from{
    width: 0%;
    opacity: 0;
    filter: blur(5px);
    }
    to{
    filter: blur(0px);
    width: 67%;
    opacity: 0.5;
    }
}
[pos="abs-r-t"]{
    position: absolute;
    top:0;
    right: 0;
    margin: 10px;
}
[tromoSM=flex-upper-w]{
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}
[tromoSM=temp-mes]{
    font-size: large;
    margin-top: 15px;
    letter-spacing: -1.16px;
    font-weight: 500;
}
[tromoSM=star-each]{
    width: 25px;
    position: absolute;
    display: none;
    opacity: 0.6;
    filter: drop-shadow(0px 0px 5px white);
}
@keyframes open-star{
    from,to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
[tromoSM="fill-temp"]{
    font-size: 80px;
    display: flex;
    margin-left: 15px;
    letter-spacing: -5px;
    font-weight: 300;
}
[tromoSM="inp-wrap"]{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    height: 35px;
    align-items: center;
    background-color: var(--element-1-background-color);
}
[tromoSM=inp-wrap]::before{
    backdrop-filter: blur(var(--element-1-backdrop-blur));
    content: '';
    position: absolute;
    top: 0;
      border-radius: 50px;
     left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
[tromoSM="enter-in-main"]{
    width: fit-content;
    border-radius: 50px;
    height: 100%;
 font-family: var(--document-font-family-main);
 font-size: 14px;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    will-change: transform;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    background-color: var(--element-1-background-color);
    color: aliceblue;
}
[tromoSM="enter-in-main"]:hover{
    background-color: var(--element-1-background-color-action-h);
    transform: scale(1.1);
}
[tromoSM="enter-in-main"]:active{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.8);
    filter: blur(2px);
}
[fill="search-engine-r"]{
    position: absolute;
    overflow: hidden;
    width: 0px;
    margin-left: 25px;
    transition: 0.3s;
    color: transparent;
}
[fill=search-engine]{
    width: 22px;
    filter:var(--icon-filter-light-themed);
}
[tromoSM="search-engine"]:hover [fill="search-engine-r"]{
    width: 10px;
    color: var(--element-1-color);
}
[tromoSM="search-engine"]:hover{
 width: 50px;
 padding: 0px 5px;
}
[tromoSM="search-engine"]{
 width: 37px;
 border-radius: 50px;
    transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 aspect-ratio:  1 / 1;
    background-color: var(--element-1-background-color);
 height: 100%;   
}
[tromoSM=ic-av-search-eng]:first-child{
    margin: 0px 4px !important; 

}
[tromoSM=di-av-search-eng]{
    display: flex;
    background-color: var(--element-1-background-color-action-h);
    border-radius: 50px;
    backdrop-filter: blur(var(--element-1-backdrop-blur));
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 2px 10px;
    transform: translate(105px,0px);
    animation: open-new-tr 0.5s 1 forwards;
}
@keyframes open-new-tr{
    from{
    transform: translate(80px,0px);
    padding: 2px 0px;
    }
    50%{
    padding: 2px 10px;
    transform: translate(105px,0px);
    }
    to{
    transform: translate(105px,0px);
    padding: 2px 10px;
    }
}
[tromoSM=ic-av-search-eng]{
    width: 19px;
    border-radius: 50px;
    position: static;
    margin: 0px 1px;
    padding: 5px;
    filter: brightness(10);
    background-color: var(--element-1-background-color);
    animation: open-ic-av 0.2s forwards 1;
}
@keyframes open-ic-av{
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}
[ tromoSM="search-in"]{
 background-color: transparent;
 font-size: 17px;
 padding: 10px;
 font-weight: 400;
 font-family: var(--document-font-family-main);
 outline: none;
 border: none;
 color: aliceblue;
}
