[tromoSM="close$preff"]{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--element-1-background-color-action-h);
    width: 40px;
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: var(--document-font-family-main);
    color: aliceblue;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    will-change: transform;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    animation: open-close-pref 0.5s  1 ;
}
[tromoSM="close$preff"]:hover{
    transform: scale(1.1);
}
[tromoSM="close$preff"]:active{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.8);
    filter: blur(2px);
}
[tromoSM=bttn-0-pref]{
position: fixed;
bottom: 0;
right: 0;
background-color: var(--element-1-background-color);
width: 30px;
border-radius: 50px;
margin: 5px;
display: flex;
justify-content: center;
cursor: pointer;
flex-wrap: nowrap;
align-items: center;
backdrop-filter: blur(var(--element-1-backdrop-blur));
height: 30px;
}
[tromoSM=dv-0-full]{
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
    flex-direction: column;
    top: 0;
    justify-content: center;
    align-items: center;
    animation:  open-dv-full-preff 0.2s 1;
}
[tromoSM='ti-preff-main']{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aliceblue;
    text-shadow: 0px 0px 20px #0000006e;
}
[tromoSM=dv-0-full]::before{
    backdrop-filter: blur(5px) brightness(0.8);
    content: '';
    position: absolute;
    top: 0;
     left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation:  open-dv-full-preff-bfrr 0.1s 1 ;
}
[tromoSM=dv-0-full] button{
    align-items: center;
    width: 50%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px 15px;
    position: relative;
    height:30px;
    display: flex;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.11);
    margin: 3px 0px;
}
[tromoSM=dv-0-full] button button{
height: 20px;
    font-weight: 600;
width: fit-content;
border-radius: 50px;
padding:  15px;
    font-family: var(--document-font-family-main);
margin-right: 10px;
position: absolute;
font-size: small;
right: 0;
cursor: pointer;
    will-change: transform;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
background-color: rgba(255, 255, 255, 0.137);
}
[tromoSM=dv-0-full] button button:hover{
        transform: scale(1.1);
}
[tromoSM=dv-0-full] button button:active{
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.8);
    filter: blur(2px);
}
[tromoSM=dv-0-full] button p{
    padding: 0;
    margin: 0;
    font-size: medium;
    padding-left: 10px;
    font-weight: 600;
    font-family: var(--document-font-family-main);
}
[tromoSM=bttn-appnd-op-preff] img{
width: 20px;
}

[tromoSM=bttn-0-pref]:active [tromoSM=img-0-pref]{
    scale: 0.8;
}
[tromoSM=img-0-pref]{
    width: 25px;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[tromoSM=fill-info]{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
        opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
    background: linear-gradient(0deg,#030000d1,#0000);
    font-size: smaller;
}
[tromoSM=weather-w]:hover [tromoSM=fill-info]{
    opacity: 1;
    transform: translateY(0px);
}
[tromoSM="ui-main-w"]{
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
}
[tromoSM=av-tab-src]{
padding: 20px 25px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
width: 40%;
animation: open-tab-sca-deff 0.3s 1;
background-color: var(--element-1-background-color);
}
[tromoSM='append-all-av']{
    margin: 2px;
    padding: 5px 10px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 7px;
    position: relative;
    background-color: rgba(240, 248, 255, 0.247);
}
[start=doubleindex]{
    opacity: 0.5;
}
[tromoSM=in-radio-ap]{
    position: absolute;
    right: 0; 
     border-radius: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    accent-color: #0000005d;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 255, 255, 0);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.411);
}
[tromoSM=in-radio-ap]:checked::before{
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    font-family: SF Pro;
    color: aliceblue;
    content: '✓';
}
[tromoSM=in-radio-ap]:checked{
    background-color: rgba(0, 0, 0, 0.411);

}
[tromoSM=full-s-notiff]{
    position: fixed;
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
[tromoSM=full-s-notiff]::before{
     backdrop-filter: blur(5px);
    content: '';
    position: absolute;
    top: 0;
     left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
[tromoSM="event"]{
    width: 1px;
    height: 1px;
    position: fixed;
    transition: 0.2s;
    scale: 0;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 1px;
    animation: infinite-event 1s ease infinite ;
}
[top='0']{
    margin-top: 100px !important;
}
[tromoSM=wrap]{
    display: flex;
    margin:0px  0px  20px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
[tromoSM=wrap-all]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
[tromoSM=im-im-bttn-in]{
    width: 10px !important;
    filter: brightness(0);
    margin-left: 3px;
}
[tromoSM=background-main]{
    width: 100vw;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
    position: fixed;
    top: 0;
    animation: open-bg-main 0.6s 1 ;
}
[tromoSM=background-top]{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    top: 0;
}
[tromoSM=fill-time]{
    font-family: SF Pro;
    font-weight: 700;
    padding: 0;
    color: var(--element-display-text);
    font-size: 110px;
    width: fit-content;
    text-shadow: 0px 0px 20px var(--element-display-text-shadow);
    animation: open-time 0.7s ease 1 forwards;
}

[tromoSM=weather-w]{
    background-color: var(--element-1-background-color);
    width: 250px;
    height: 100px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    color: var(--element-1-color);
    align-items: center;
    overflow: hidden;
    border-radius: var(--element-1-border-radius);
    backdrop-filter: blur(var(--element-1-backdrop-blur));
}
[tromoSM=clouds-a]{
    height: 150px;
    object-position: top left;
    object-fit: cover;
    position: absolute;
    right: 0;
    animation:  open-clouds 1s ease 1 forwards;
}
[tromoSM="location-ic"]{
    width: 7px;
    filter: brightness(100);
}
[tromoSM="fill-location"]{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    gap: 2px;
    font-size: 7px;
    display: flex;
    align-items: center;
}
[pos="abs-r-t"]{
    position: absolute;
    top:0;
    right: 0;
    margin: 10px;
}
[tromoSM=flex-upper-w]{
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}
[tromoSM=temp-mes]{
    font-size: large;
    margin-top: 15px;
    letter-spacing: -1.16px;
    font-weight: 500;
}
[tromoSM=star-each]{
    width: 25px;
    position: absolute;
    display: none;
    opacity: 0.6;
    filter: drop-shadow(0px 0px 5px white);
}
[tromoSM="fill-temp"]{
    font-size: 80px;
    display: flex;
    margin-left: 15px;
    letter-spacing: -5px;
    font-weight: 300;
}
[tromoSM="inp-wrap"]{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 50px;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    height: 35px;
    align-items: center;
    background-color: var(--element-1-background-color);
}
[tromoSM=inp-wrap]::before{
    backdrop-filter: blur(var(--element-1-backdrop-blur));
    content: '';
    position: absolute;
    top: 0;
      border-radius: 50px;
     left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
[tromoSM="enter-in-main"]{
    width: fit-content;
    border-radius: 50px;
    height: 100%;
 font-family: var(--document-font-family-main);
 font-size: 14px;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    will-change: transform;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
    background-color: var(--element-1-background-color);
    color: aliceblue;
}
[tromoSM="enter-in-main"]:hover{
    background-color: var(--element-1-background-color-action-h);
    transform: scale(1.1);
}
[tromoSM="enter-in-main"]:active{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.8);
    filter: blur(2px);
}
[fill="search-engine-r"]{
    position: absolute;
    overflow: hidden;
    width: 0px;
    margin-left: 25px;
    color: transparent;
}
[fill=search-engine]{
    width: 22px;
    filter:var(--icon-filter-light-themed);
}
[tromoSM="search-engine"]:active{
    transform: scale(1);
}
[tromoSM="search-engine"]:hover{
    background-color: var(--element-1-background-color-action-h);
}
[tromoSM="search-engine"]{
 width: 37px;
 border-radius: 50px;
    transition: 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  justify-content: center;
  align-items: center;
 aspect-ratio:  1 / 1;
    background-color: var(--element-1-background-color);
 height: 100%;   
}

[tromoSM=di-av-search-eng]{
    display: flex;
    background-color: var(--element-1-background-color-action-h);
    border-radius: 50px;
    backdrop-filter: blur(var(--element-1-backdrop-blur));
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 2px ;
    margin-left: 50px;
    animation: open-new-tr 0.4s 1 ;
}
[tromoSM=ic-av-search-eng]{
    width: 19px;
    border-radius: 50px;
    position: static;
    margin: 0px 1px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--element-1-background-color);
    animation: open-ic-av 0.2s forwards 1;
}
[ tromoSM="search-in"]{
 background-color: transparent;
 font-size: 17px;
 padding: 10px;
 font-weight: 400;
 font-family: var(--document-font-family-main);
 outline: none;
 border: none;
 color: aliceblue;
 animation:open-search-inn 0.5s forwards 1; 
}
