[tromoSM="ui-main-w"]{
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
}
[top='0']{
    margin-top: 100px !important;
}
[tromoSM=wrap]{
    display: flex;
    margin:0px  0px  0px 50px;
    flex-wrap: wrap;
    align-items: center;
}
[tromoSM=background-main]{
    width: 100vw;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
    position: fixed;
    top: 0;
}
[tromoSM=background-top]{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    top: 0;
}
[tromoSM=fill-time]{
    font-family: SF Pro;
    font-weight: 700;
    padding: 0;
    color: var(--element-display-text);
    font-size: 110px;
    width: fit-content;
    text-shadow: 0px 0px 20px var(--element-display-text-shadow);
}
[tromoSM=weather-w]{
    background-color: var(--element-1-background-color);
    width: 250px;
    height: 100px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    color: var(--element-1-color);
    align-items: center;
    overflow: hidden;
    border-radius: var(--element-1-border-radius);
    backdrop-filter: blur(var(--element-1-backdrop-blur));
}
[tromoSM=clouds-a]{
    height: 150px;
    object-position: top left;
    object-fit: cover;
    position: absolute;
    right: 0;
    animation:  open-clouds 1s ease 1 forwards;
}
[tromoSM="location-ic"]{
    width: 7px;
    filter: brightness(100);
}
[tromoSM="fill-location"]{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    gap: 2px;
    font-size: 7px;
    display: flex;
    align-items: center;
}
@keyframes open-clouds{
    from{
    width: 0%;
    opacity: 0;
    filter: blur(5px);
    }
    to{
    filter: blur(0px);
    width: 67%;
    opacity: 0.5;
    }
}
[tromoSM=flex-upper-w]{
    display: flex;
    flex-direction: row;
    padding-left: 6px;
}
[tromoSM=temp-mes]{
    font-size: large;
    margin-top: 15px;
    letter-spacing: -1.16px;
    font-weight: 500;
}
[tromoSM=star-each]{
    width: 25px;
    position: absolute;
    display: none;
    opacity: 0.6;
    filter: drop-shadow(0px 0px 5px white);
}
@keyframes open-star{
    from,to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
[tromoSM=moon]{
position: absolute;
width: 70px;
bottom: 0;
right: 0;

}
[tromoSM="fill-temp"]{
    font-size: 80px;
    display: flex;
    margin-left: 15px;
    letter-spacing: -5px;
    font-weight: 300;
}
