:root{
   /*document-all*/
    --document-font-family-main:inter;

   /*element class 1*/ 
    --element-1-border-radius : 15px;
    --element-1-background-color:rgba(0, 0, 0, 0.151);
    --element-1-color:white;
    --element-1-backdrop-blur:15px;
    
    /*UI Element - colors*/
    --element-display-text:white;
    --element-display-text-shadow:#00000067;
}
